
	<div class="information">
	  <h2>Methods</h2>
	  <dl class="listing">
	    <dt>class (<%= methods[:class][:all].length %>)</dt>
	      <% methods[:class][:all].each do |meth| %>
	      <dd><%= link_to meth.name, "#meth-#{meth.name.to_url}", :class => 'method-link' %></dd>
	      <% end %>
      <dt>instance (<%= methods[:instance][:all].length %>)</dt>
	      <% methods[:instance][:all].each do |meth| %>
	      <dd><%= link_to meth.name, "#meth-#{meth.name.to_url}", :class => 'method-link' %></dd>
	      <% end %>
	  </dl>
	  <br />
	  <h2>Information</h2>
	  <dl class="listing">
	    <dt>Superclass</dt>
	      <dd><%= object.superclass || 'None'%></dd>
	    <dt>In Files:</dt>
	      <% @in_files.each do |file| %>
	      <dd><%= file.full_name %></dd>
	      <% end %>
	  </dl>
	</div>
