<div class="information">
  <dl class="listing">
    <dt>In File</dt>
      <dd><%= in_file.full_name %></dt>
    <dt>Versions</dt>
      <% if versions %>
        <dd>v<%= object.code_comment.version %> by <%= object.code_comment.user.try(:name) || 'Anon' %></dd>
        <% versions.each do |v| %>
        <dd>v<%= v.version %> by <%= v.user.try(:name) || 'Anon' %></dd>
        <% end %>
      <% else %>
        <dd>None</dd>
      <% end %>
  </dl>
</div>