<div class="information">
  <dl class="listing">
    <dt>In File</dt>
      <dd><%= in_file.full_name %></dt>
    <dt>Versions</dt>
      <% if versions && object.code_comment %>
        <dd>v<%= object.code_comment.version %> by <%= object.code_comment.user.try(:login) || 'Anon' %></dd>
        <% versions.each do |v| %>
        <dd>v<%= v.version %> by <%= v.user.try(:login) || 'Anon' %> <%= link_to("diff", doc_path(object.path, {:v => v.version}), :class => "version") unless v.version == object.code_comment.version%></dd>
        <% end %>
      <% else %>
        <dd>None</dd>
      <% end %>
  </dl>
</div>