<% comment ||= object.code_comment.try(:body) %>
<% if comment -%>
  <div class="comment">
    <div class="body">
      <%= rdoc_html_parse(comment) %>
    </div>
    <div class="meta">
      Last updated by <%= object.code_comment.user.login rescue "Anon" %> at <%= object.code_comment.created_at.to_s(:short) %>
       <%= link_to "edit", edit_comment_path(object.code_comment.id)%>
    </div>
  </div>
<% else -%>
  <div class="comment">
    No comment yet. <%= link_to "Add One!", new_comment_path(object.path)%>
  </div>
  <div class="meta">&nbsp;</div>
<% end -%>