<html>
  <head>
    <title><%= @title ||= Setting[:site_name] %></title>
    <%= stylesheet_link_tag "reset", "base", "admin", "syntaxi" %>
    <%= javascript_include_tag 'jquery', 'application'%>
  </head>
  <body>
    <div id="container">
    	<div id="header">

    		<h1>
    		  Admin Interface
    		</h1>
        
        <div id="user">
      	  <% if logged_in? %>
      	  Welcome <%= current_user.login %> <%= link_to 'log out', logout_path, :method => :delete%>
      	  <% else %>
      	  Welcome Anonymous, <%= link_to 'sign up', signup_path %>
      	  <% end %>
      	</div>
    	</div>

      <div id="menu">
        <ul>
          <li><%= link_to "Errors (#{@error_count})", admin_errors_path %></li>
        </ul>
      </div>
      <div id="content">
        <div id="main">
  				<div id="inner-container">
  					<%= yield :layout %>
  				</div>
  			</div>
        <div id="sidebar">
          <h2>Search</h2>
            <% form_tag({:controller => "search", :action => "results"}, :class => 'search') do %>
              <%= text_field_tag :q, nil, :id => "search", :autocomplete => "off" %>
              <%= link_to (image_tag 'cross.png'), "#", :class => "clear-button"%>
            <% end %>
          <div id="sidebar-content">
            <%= yield :sidebar %>
          </div>
        </div>
      </div>
      	<div id="foot">
      		home &middot; stuff &middot; yeah &middot; about<br />
      		Content is owned by owner as indicated in code license.  Documentation powered by Docthing.
      	</div>
      </div>
  </body>
</html>