<html>
  <head>
    <title><%= @title ||= Setting[:site_name] %></title>
    <%= stylesheet_link_tag "reset", "base", "syntaxi" %>
    <%= javascript_include_tag 'jquery', 'jsdiff', 'application'%>
  </head>
  <body>
    <div id="container">
    	<div id="header">
    	  <div id="user">
      	  <% if logged_in? %>
      	  Welcome, <%= current_user.login %>. <%= link_to 'log out', logout_path, :method => :delete%>
      	  <% else %>
      	  Welcome, Anonymous. <%= link_to 'log in', login_path %> or <%= link_to 'sign up', signup_path %>
      	  <% end %>
      	</div>
    		<h1>
    		  <%= link_to Setting[:site_name], index_path%>
    		</h1>
    	</div>
      <div id="content">
        <div id="main">
  				<%= yield :layout %>
  			</div>
  			<div id="nav-sidebar" class="sidebar">
            <% form_tag({:controller => "search", :action => "results"}, :class => 'search') do %>
              <%= text_field_tag :q, nil, :id => "search", :autocomplete => "off" %>
              <%= link_to (image_tag 'cross.png'), "#", :class => "clear-button"%>
            <% end %>
            <ul>
              <% @containers.each do |container| %>
              <li><%= link_to container.name, doc_path(container.path) %> <%= link_to "&#x2190;", "#", :class => "toggle"%>
                <% container.code_methods.each do |meth| %>
                <ul class="methods">
                  <li><%= link_to meth.name, doc_path(meth.path) %></li>
                </ul>
                <% end %>
              </li>
              <% end %>
            </ul>
  			</div>
      </div>
  </body>
</html>